@using SmartShop.Models
@model IEnumerable<SmartShop.Models.Product>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.ActionLink("Add", "Create", "Carts", null, new {ProductPrice = item.ProductPrice, UserID = item.UserID, ProductId = item.ProductId}) |
                @Html.ActionLink("Add", "Index", "Carts", null, new {TotalAmount = item.ProductPrice, UserID = item.UserID, ProductId = item.ProductId})|
                @Html.ActionLink("Edit", "Edit", new {id = item.ProductId}) |
                @Html.ActionLink("Details", "Details", new {id = item.ProductId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ProductId})|
                <input type="button" titl="Add" value="Add" id="Cart" onclick="Send('ProductId=item.ProductId');"/>
            </td>
        </tr>
    }
</table>
<script type="text/javascript">

    function Send(item.ProductId) {
        alert(ProductId);
    
        $.ajax({
            type: "POST",
            url: "@Url.Action("Create", "Carts")",
            data: ProductId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

       
    }
</script>

