@model IEnumerable<WebApplication1.Product>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @if (User.Identity.GetUserName() == item.UserName || User.Identity.GetUserName() == "admin@aa.com")
            {
                if (User.Identity.GetUserName() == "admin@aa.com")
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                }
                else
                {
                    @Html.ActionLink("Edit ", "Edit", new { id = item.ProductId })
                    @Html.ActionLink("Details ", "Details", new { id = item.ProductId })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                }
            }
            else
            {
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }) 
            }
        </td>
    </tr>
}

</table>
